html {
    --bg: #fff;                 /*body bg*/
    --h1-color: #000;
    --h3-color: #000;
    --p-color: #333333;
    --min-box1:hsl(227, 47%, 96%);
    --min-box2:hsl(227, 47%, 96%);
    --min-box1H1:#fff;
    --dig:hsl(230, 17%, 14%);
    --h6-color:#fff;
    --color-headings: #0077FF;


}

html[data-theme='dark'] {
    --bg: hsl(230, 17%, 14%);                 /*body bg*/
    --h1-color: #fff;
    --h3-color: #fff;
    --p-color: hsl(228, 34%, 66%);
    --min-box1:hsl(228, 28%, 20%);
    --min-box2:hsl(228, 28%, 20%);
    --min-box1H1:#fff;
    --dig:#fff;
    --h6-color:#fff;
    --color-headings: #3694FF;

}



body{padding: 2% 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: var(--bg);
}

h1,h3,p{color: var(--h1-color);}

h1,h3,p{font-weight: 700; padding-left: 15px;}
.sw1{float: right;display: inherit;}
    

/* DASHBOARD */
.min-box1{
    text-align: center;
    margin: 15px;
    border-radius: 5px;
    padding: 20px 0;
    background-color: var(--min-box1);
    box-shadow: 0 0 3px grey;
}

.a{border-top: 3px solid hsl(195, 100%, 50%);}
.c{border-top: 3px solid hsl(348, 97%, 39%);}
.b{border-top: 4px solid; border-image: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;}

.min-box1-h1{font-size: 4rem;margin-top: 15px;}
.min-span-g{font-weight: 700; color:hsl(163, 72%, 41%) ;}
.min-span-r{font-weight: 700; color:hsl(356, 69%, 56%) ;}
span{font-weight: 700; color:hsl(228, 12%, 44%) ;}



/* OVERVIEW */

#overview{ margin-top: 50px;}
.min-box2{
    box-shadow: 0 0 3px grey;
    margin: 15px;
    border-radius: 5px;
    background-color: var(--min-box2);
}
.left{float: left;}
.right{float: none; padding: 0;}
.col-4{align-self: center;}
.dig{font-weight: 700; font-size: 2rem; color: var(--dig);}
.min-box2-row1{padding: 20px;}








input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}







/* FOOTER */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

